<h1>New Recipe</h1>

<form class="" action="/recipes/new" method="post">
  <div class="form-group">
    <label for="name">Recipe Name</label>
    <input type="text" name="Recipe_name" class="form-control">
    <br>
    <label for="rating">Recipe Rating</label>
    <input type="number" name="rating" class="form-control">
    <h3>Ingredients</h3>
    <% @ingredients.each do |ingredient| %>
      <input type="checkbox" name="ingredients_<%=ingredient.id%>" value="<%=ingredient.name%>"><%=ingredient.name%><br>
    <% end %>
    <h3>Tags</h3>
    <% @tags.each do |tag| %>
      <input type="checkbox" name="tags_<%=tag.id%>" value="<%=tag.name%>"><%=tag.name%><br>
    <% end %>
  </div>
  <button type="submit" class="btn">Create Recipe</button>
</form>
